.container{
    width: 100%;
    height: 100%;
    background: url(../images/img02/bg02.png);
    background-size: 100% 100%;
    position: relative;
}
article{
    width: 41%;
    height: 100%;
    padding-left: 5%;
    top: 0;
    left: 0;
    position: absolute;

}
article .title{
    padding-top: 14%;
    text-align: right;
}
article .title>img{
    width: 94%;
}
article .content{
    padding-top: 30px;
}
article .content p{
    text-align: justify;
    font-size: 18px;
    line-height: 42px;
    text-indent: 34px;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}
.space{
    width: 34%;
    height: 80%;
    float: left;
}
.space>img{
    width: 36%;
}
aside{
    width: 64%;
    height: 100%;
    float: right;
    /* background-color: red; */
}
aside>div{
    height: 100%;
    padding-top: 6%;
    padding-left: 6%;
    position: relative;
}
.list{
    /* padding-top: 14%; */
    padding-left: 8.7%;
}
.list-1{
    float: left;
}
.list-1>li{
    float: left;
}
.list-2{
    padding-left: 13.4%;
}
.mid{
    width: 150px;
    height: 150px;
}
.small{
    width: 90px;
    height: 90px;
}
.big{
    width: 180px;
    height: 180px;
}
.mini{
    width: 75px;
    height: 75px;
}
/* .a-small>img, */
.mid>img,
.small>img,
.big>img,
.mini>img{
    display: inline-block;
    width: 100%;
}
/* 
110*110
*/
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.m-l-8{
    margin-left: 12px;
}
.m-r-12{
    margin-right: 18px;
}
.m-r-8{
    margin-right: 12px;
}
.m-t-8{
    margin-top: 12px;
}
.m-b-8{
    margin-bottom: 12px;
}
.margin-top{
    margin-top: 40px;
}
ul>li{
    position: relative;
}
.mask-1{
    position: absolute;
    top: 100%;
    left: -100%;
}
.mask-2{
    position: absolute;
    top: 100%;
    right: -44%;
}



